.logo{
	width:150px;
	height:50px;
}
.card {
    width:300px;
    min-height:370px;
    background:#fff;
    box-shadow:0 20px 50px rgba(0,0,0,.1);
    border-radius:10px;
    transition:0.3s;
	margin:5px;
}
.card .container{

}
.card:hover {
    box-shadow:0 30px 70px rgba(0,0,0,.2);
}
.card .box {
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);
    text-align:center;
    padding:5px;
    box-sizing:border-box;
    width:100%;
}
.card .box .img {
    height:200px;
	width:280px;
    margin:10px auto;
    overflow:hidden;
}
.card .box .img img {
    width:100%;
    height:100%;


}
.card .box h2 {
    font-size:20px;
    color:#262626;
    margin:20px auto;
}
.card .box h2 span {
    font-size:14px;
    background:#e91e63;
    color:#fff;
    display:inline-block;
    padding:4px 10px;
    border-radius:15px;
}
.card .box p {
    color:#262626;
}
.card .box span {
    display:inline-flex;
}
.card .box ul {
    margin:0;
    padding:0;
}
.card .box ul li {
    list-style:none;
    float:left;
}
.card .box ul li a {
    display:block;
    color:#aaa;
    margin:0 10px;
    font-size:20px;
    transition:0.5s;
    text-align:center;
}
.card .box ul li:hover a {
    color:#e91e63;
    transform:rotateY(360deg);
}

.stars {
    display: flex;
    flex-direction: row-reverse;
    margin: 10px;
}
.stars > i:hover:before,
.stars > i:hover ~ i:before {
    color: gold;
    cursor: pointer;
}
header.container{
	margin-bottom:30px;
}
.products, .shops, .companies{
	margin-bottom:50px;
}
.container .products h4{
	display:inline;
}
.container .products a:hover{
	text-decoration:none;
	color: #0ea6d1;
}
.container .products a{
	color:black;
}
.container .shops a:hover{
	text-decoration:none;
	color: #0ea6d1;
}
.container .shops a{
	color:black;
}
.container .shops h4{
	display:inline;
}
.container .companies a:hover{
	text-decoration:none;
	color: #0ea6d1;
}
.container .companies a{
	color:black;
}
.container .companies h4{
	display:inline;
}
